@use '../abstracts/mixins';
@use './variables';

@view-transition {
	navigation: auto;
}

body {
	font-size: variables.$font-size-base;
	font-family: variables.$font-family-base;
	line-height: variables.$line-height-base;
	max-width: 1920px;
	margin-inline: auto;
}

.card-grid {
	&--lg {
		@include mixins.make-grid($width: 33em);
	}

	&--sm {
		@include mixins.make-grid($width: 19em);
	}
}

.content {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__header-actions {
		display: flex;
		align-items: center;
		gap: calc(var(--spacing) * 2);
	}
}
