@use '../abstracts/mixins';

.card-grid {
	&--lg {
		@include mixins.make-grid($width: 33em);
	}

	&--sm {
		@include mixins.make-grid($width: 19em);
	}
}

.content {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__header-actions {
		display: flex;
		align-items: center;
		gap: calc(var(--spacing) * 2);
	}
}
