@use '../abstracts/mixins';

.card-grid {
	&--lg {
		@include mixins.make-grid($width: 33em);
	}

	&--sm {
		@include mixins.make-grid($width: 19em);
	}
}

.content {
	&__header {
		padding: 0.75rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
