@use './fonts';

// Body
$base-color: #0e2148;
$body-bg: #f8fafc;
$primary: #7965c1;
$primary-color: #7965c1;
$primary-hover: #483aa0;
$accent: #e3d095;
$accent-hover: #caaf6d;

// Typography
$font-family-sans-serif: fonts.$font-family-sans-serif;
$font-family-base: fonts.$font-family-sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.2;

// Buttons
$btn-close-color: #fff;
$border-color: #dee2e6;
$btn-color: #fff;
$btn-hover-color: #fff;
$btn-outline-color: #007bff;
$btn-outline-hover-color: #fff;
