.badge {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	font-size: 0.7875rem;
	border-radius: var(--bs-border-radius-sm);
	background: transparent;
	border: 1px solid var(--bs-border-color);
	font-weight: 500;
}
