@use './abstracts/mixins';

.icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	flex-shrink: 0;
	transition: all 0.2s ease-in-out;

	&.icon-sm {
		width: 16px;
		height: 16px;
	}

	&.icon-xs {
		width: 12px;
		height: 12px;
	}

	&.icon-lg {
		width: 28px;
		height: 28px;
	}

	&.icon-huge {
		width: 48px;
		height: 48px;
	}

	&.icon-activity:before {
		@include mixins.icon('activity');
	}

	&.icon-alert-circle:before {
		@include mixins.icon('alert-circle');
	}

	&.icon-alert-triangle:before {
		@include mixins.icon('alert-triangle');
	}

	&.icon-arrow-left:before {
		@include mixins.icon('arrow-left');
	}

	&.icon-arrow-right:before {
		@include mixins.icon('arrow-right');
	}

	&.icon-bug:before {
		@include mixins.icon('bug');
	}

	&.icon-buildings:before {
		@include mixins.icon('buildings');
	}

	&.icon-calendar:before {
		@include mixins.icon('calendar');
	}

	&.icon-chevron-down:before {
		@include mixins.icon('chevron-down');
	}

	&.icon-clock:before {
		@include mixins.icon('clock');
	}

	&.icon-dollar-sign:before {
		@include mixins.icon('dollar-sign');
	}

	&.icon-edit:before {
		@include mixins.icon('edit');
	}

	&.icon-external-link:before {
		@include mixins.icon('external-link');
	}

	&.icon-file-text:before {
		@include mixins.icon('file-text');
	}

	&.icon-folder:before {
		@include mixins.icon('folder');
	}

	&.icon-git-branch:before {
		@include mixins.icon('git-branch');
	}

	&.icon-github:before {
		@include mixins.icon('github');
	}

	&.icon-heart:before {
		@include mixins.icon('heart');
	}

	&.icon-home:before {
		@include mixins.icon('home');
	}

	&.icon-key:before {
		@include mixins.icon('key');
	}

	&.icon-log-out:before {
		@include mixins.icon('log-out');
	}

	&.icon-mail:before {
		@include mixins.icon('mail');
	}

	&.icon-menu:before {
		@include mixins.icon('menu');
	}

	&.icon-phone:before {
		@include mixins.icon('phone');
	}

	&.icon-plus:before {
		@include mixins.icon('plus');
	}

	&.icon-refresh-cw:before {
		@include mixins.icon('refresh-cw');
	}

	&.icon-save:before {
		@include mixins.icon('save');
	}

	&.icon-search:before {
		@include mixins.icon('search');
	}

	&.icon-settings:before {
		@include mixins.icon('settings');
	}

	&.icon-target:before {
		@include mixins.icon('target');
	}

	&.icon-trash:before {
		@include mixins.icon('trash-2');
	}

	&.icon-trending-up:before {
		@include mixins.icon('trending-up');
	}

	&.icon-user:before {
		@include mixins.icon('user');
	}

	&.icon-user-check:before {
		@include mixins.icon('user-check');
	}

	&.icon-users:before {
		@include mixins.icon('users');
	}

	&.icon-x:before {
		@include mixins.icon('x');
	}
}
