.card {
	&--sm {
		.card-body {
			display: flex;
			flex-direction: column;
		}

		.card-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 0.75rem;
			border: 0;
			padding: 0;
			background: transparent;
		}

		.card-title {
			font-weight: 700;
			margin-bottom: 0;
			font-size: 1rem;
		}
	}

	&-title {
		font-size: 1.25rem;
		font-weight: 500;
		margin-bottom: 0.75em;
	}

	&-subtitle {
		font-size: 0.875rem;
		color: var(--bs-secondary-color);
	}

	&-header-with-action {
		display: flex;
		justify-content: space-between;
		align-items: end;
		margin-bottom: 0.75rem;

		.card-title {
			margin-bottom: 0.15em;
		}
	}

	&-text {
		&--lg {
			font-size: clamp(1.5rem, 2.5vw, 2.5rem);
			font-weight: 700;
			margin-bottom: 0 !important;
			margin-top: auto;
		}
	}
}
