.chart-container {
	display: flex;
	justify-content: center;
	height: 300px;
}

:root {
	--status-planned-color: color-mix(
		in oklab,
		var(--color-primary) 30%,
		transparent
	);
	--status-in_progress-color: color-mix(
		in oklab,
		var(--color-primary) 40%,
		transparent
	);
	--status-waiting_for_planning-color: color-mix(
		in oklab,
		var(--color-primary) 50%,
		transparent
	);
	--status-on_hold-color: color-mix(
		in oklab,
		var(--color-primary) 60%,
		transparent
	);
	--status-feedback-color: color-mix(
		in oklab,
		var(--color-primary) 70%,
		transparent
	);
	--status-closed-color: color-mix(
		in oklab,
		var(--color-primary) 80%,
		transparent
	);
	--status-resolved-color: color-mix(
		in oklab,
		var(--color-primary) 90%,
		transparent
	);
	--status-rejected-color: color-mix(
		in oklab,
		var(--color-primary) 100%,
		transparent
	);
}

[data-theme='valentine'] {
	--priority-low: color-mix(in oklab, var(--color-primary) 60%, transparent);
	--priority-normal: color-mix(in oklab, var(--color-primary) 70%, transparent);
	--priority-high: color-mix(in oklab, var(--color-primary) 80%, transparent);
	--priority-urgent: color-mix(in oklab, var(--color-primary) 90%, transparent);
	--priority-immediate: color-mix(
		in oklab,
		var(--color-primary) 100%,
		transparent
	);
}

[data-theme='night'] {
	--priority-low: var(--color-secondary);
	--priority-normal: var(--color-primary);
	--priority-high: #d4a574;
	--priority-urgent: #c57676;
	--priority-immediate: #a67ba6;
}
