/* .status {
	background-color: var(--_status-bg, transparent);
	border: 1px solid var(--_status-border, transparent);

	&--overdue {
		--_status-bg: var(--bs-danger-bg-subtle);
		--_status-border: var(--bs-danger-border-subtle);
	}

	&--due-soon {
		--_status-bg: var(--bs-warning-bg-subtle);
		--_status-border: var(--bs-warning-border-subtle);
	}
}
*/
.status-list {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 0.875rem;
	font-weight: 500;
}
