@mixin icon($name, $size: 100%) {
	content: '';
	display: block;

	@if $size == '16' {
		width: 16px;
		height: 16px;
	} @else if $size == '12' {
		width: 12px;
		height: 12px;
	} @else if $size == '28' {
		width: 28px;
		height: 28px;
	} @else if $size == '48' {
		width: 48px;
		height: 48px;
	} @else {
		width: $size;
		height: $size;
	}

	mask: {
		image: url('/public/frontend/assets/icons/#{$name}.svg');
		repeat: no-repeat;
		position: center;
		size: contain;
	}
	background-color: currentColor;
}

@mixin make-grid($width: 12em, $row-gap: 1.5rem) {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(Min($width, 100%), 1fr));
	gap: $row-gap 1.5rem;
}
